@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #333;
	font-family: HelveticaNeue-Thin,
	"Helvetica Neue",
	Helvetica,
	Arial,
	PingFangSC-Light,
	"PingFang SC",
	"Hiragino Sans GB",
	"Heiti SC",
	"Microsoft YaHei",
	"WenQuanYi Micro Hei",
	sans-serif;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
input{
	outline: none;
	border: none;
}
img{
	max-height: 100%;
	max-width: 100%;
	display: block;
	border: none;
}
.clearfix::after{
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix{
	zoom: 1;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.nowrap{
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt40{
	margin-top: 40px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}

.container{
	position: relative;
	width: 1040px;
	margin: 0 auto;
}
header{
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .4);
}
header .logo{
	max-height: 48px;
	margin-top: 14px;
}
header .logo a{
	display: block;
	height: 32px;
}
.tel-box{
	position: relative;
	height: 60px;
	padding: 15px 10px;
}
.tel-box i{
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(../images/tel.gif) no-repeat;
}
.tel-box div{
	z-index: 666;
	position: absolute;
	top: 55px;
	right: 0;
	display: none;
	width: 340px;
	padding: 15px 30px;
	background: #fff;
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, .05);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.tel-box div::before{
	content: "";
	position: absolute;
	top: -14px;
	right: 17px;
	border: 7px solid transparent;
	border-bottom-color:#fff;
}
.tel-box div span{
	display: block;
	font-family: PingFangSC-Semibold;
	font-size: 18px;
	color: #1e2b68;
	line-height: 28px;
}
.tel-box div p{
	font-size: 13px;
	line-height: 20px;
	color: #848dbb;
}
.navigation li{
	float: left;
	height: 32px;
	margin-right: 32px;
	margin-top: 14px;
	line-height: 32px;
}
.navigation li a{
	display: block;
	font-size: 13px;
	border-bottom: 2px solid #fff;
}
.navigation li.active a,
.navigation li:hover a {
	font-weight: 600;
	color: #5b938b;
	border-bottom-color: #5b938b;
}

.slide-content{
	width: 100%;
	margin-top: 60px;
}
/*  */
.item-play-1{
	height: 814px;
	padding-top: 60px;
	overflow: hidden;
}
.i-title{
	position: relative;
	height: 66px;
	background: url(../images/sprite.png) no-repeat;
	background-size: 270px auto;
}
.item-play-1 .i-title{
	width: 188px;
	margin-left: 600px;
	background-position: 0 0;
}
.i-title::after{
	content: '';
	width: 36px;
	height: 2px;
	background: #a38d71;
	position: absolute;
	left: 0;
	bottom: -36px;
}
.item-play-1 .egal-1{
	z-index: 10;
	position: absolute;
	top: 60px;
	left: 0;
}
.item-play-1 .egal-2{
	z-index: 9;
	position: absolute;
	top: 225px;
	left: 80px;
	width: 437px;
	height: 177px;
	border: 10px solid #b2895e;
}
.item-play-1 .egal-3{
	z-index: 11;
	position: absolute;
	top: 275px;
	right: 0;
}
.item-play-1 .egal-4{
	position: absolute;
	bottom: 94px;
	right: 760px;
	text-align: right;
}
.item-play-1 .egal-4 span{
	display: inline-block;
	width: 120px;
	height: 120px;
	padding: 8px;
	background: #fff;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .05);
}
.item-play-1 .egal-4 p{
	margin-top: 15px;
	font-size: 13px;
	color: #000;
}
.item-play-1 .egal-4 p em{
	display: block;
	margin-top: 5px;
	font-size: 12px;
	color: #707070;
	line-height: 16px;
}

/*  */
.item-play-2{
	height: 640px;
}
.item-play-2 .item-bg{
	position: absolute;
	width: 1920px;
	height: 640px;
	left: 50%;
	top: 0;
	margin-left: -960px;
	background: url(../images/bg.jpg) no-repeat;
	background-size: 100%;
}
.item-play-2 .right-box{
	float: right;
	width: 50%;
	padding-top: 56px;
	padding-left: 80px;
}
.item-play-2 .i-title{
	width: 97px;
	margin-bottom: 60px;
	background-position: 0 -140px;
}
.right-box li{
	position: relative;
	height: 140px;
	padding-left: 72px;
	padding-top: 3px;
}
.right-box li::before{
	position: absolute;
	content: "";
	top: 2px;
	left: 0;
	width: 28px;
	height: 28px;
	background: url(../images/pro-1.png) no-repeat;
}
.right-box li:nth-of-type(2)::before {
	background: url(../images/pro-2.png) no-repeat;
}
.right-box li:nth-of-type(3)::before {
	background: url(../images/pro-3.png) no-repeat;
}
.right-box li h3{
	font-size: 18px;
	color: #fff;
	margin-bottom: 14px;
}
.right-box li h3 span{
	display: block;
	margin-top: 4px;
	font-size: 12px;
	color: #a2a2a2;
}
.right-box li p{
	font-size: 13px;
	color: #fff;
}
.right-box li p span{
	display: block;
	margin-top: 2px;
	font-size: 12px;
	color: #a2a2a2;
	line-height: 16px;
}
/*  */
.mid-pj{
	height: 242px;
	margin-top: 36px;
	background: url(../images/gold-bg.png) no-repeat;
	background-size: cover;
}
.pj-box{
	width: 880px;
	margin: 0 auto;
	padding-top: 55px;
}
.pj-box .fl{
	margin-right: 80px;
}
.pj-right p{
	margin-top: 10px;
	font-size: 30px;
	color: #fff;
}
.pj-right span{
	display: block;
	margin-top: 4px;
	padding-right: 50px;
	opacity: .6;
	font-size: 12px;
	color: #fff;
	line-height: 1.6;
}
/* about */
.item-play-3{
	margin-top: 60px;
}
.item-play-3 .i-title{
	width: 97px;
	margin-bottom: 60px;
	background-position: -120px -140px;
}
.item-play-3 p.ch,
.item-play-4 p.ch{
	margin-bottom: 14px;
	color: #000;
	line-height: 22px;
}
.item-play-3 p.en,
.item-play-4 p.en{
	font-size: 12px;
	color: #707070;
	line-height: 18px;
}
.item-play-3 ul,
.item-play-4 ul{
	margin: 0 -20px;
	margin-top: 30px;
	overflow: hidden;
}
.item-play-3 ul li{
	float: left;
	width: 33.33%;
	padding: 0 20px;
}
/* cooperate */
.item-play-4{
	height: 510px;
	margin-top: 60px;
	background: url(../images/hw_bg.png) bottom center no-repeat;
}
.item-play-4 .i-title{
	width: 540px;
	margin-bottom: 60px;
	background-position: 0 -250px;
}
.item-play-4 ul li{
	float: left;
	width: 50%;
	padding: 0 20px;
}
/*  */
.item-play-5{
	height: 600px;
	padding-top: 88px;
	background: url(../images/bg02.jpg) center no-repeat;
}
.item-play-5 .i-title{
	width: 166px;
	margin-bottom: 60px;
	background-position: 0 0;
}
.item-play-5 li{
	margin-bottom: 40px;
	overflow: hidden;
}
.item-play-5 li .fl{
	margin-right: 18px;
}
.item-play-5 li .r-xm{
	float: left;
	padding-top: 28px;
	max-width: 360px;;
}
.item-play-5 li .r-xm p.ch{
	font-size: 13px;
	color: #5b938b;
}
.item-play-5 li .r-xm p.en{
	max-width: 290px;
	margin-top: 4px;
	font-size: 12px;
	color: #a2a2a2;
	line-height: 18px;
}
/* footer */
footer{
	padding-bottom: 50px;
	background: #131616;
	text-align: center;
}
.ft-logo{
	height: 90px;
	margin-bottom: 60px;
	line-height: 90px;
	border-bottom: 1px solid #262626;
}
.ft-logo img{
	display: inline-block;
	vertical-align: middle;
	width: 130px;
}
footer p{
	margin-bottom: 20px;
	font-size: 12px;
	color: rgba(102, 102, 102, 0.6);
	line-height: 20px;
}
footer p a{
	display: inline-block;
	vertical-align: top;
	margin: 0 3px;
	font-size: 13px;
	color: rgba(102, 102, 102, 0.6);
}

/* go-top */
.go-top{
	z-index: 998;
	position: fixed;
	bottom: 80px;
	right: 50px;
	width: 52px;
	height: 52px;
	background: url(../images/arrow.png) no-repeat;
	background-size: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	cursor: pointer;
}

/* inside */
.inside-banner{
	width: 100%;
	height: 304px;
	margin-top: 60px;
	background: url(../images/banner01.png) center no-repeat;
}
.content{
	max-width: 1000px;
	margin: 50px auto 70px;
}
.sidebar{
	width: 224px;
} 
.sidebar-nav li a{
	position: relative;
	display: block;
	height: 50px;
	padding-left: 96px;
	font-size: 16px;
	color: #999;
	line-height: 50px;
	border-bottom: 1px solid #eee;
}
.sidebar-nav li:last-child a{
	border-bottom: 0;
}
.sidebar-nav li.active a{
	background: #eee;
	color: #5b938b;
}
.sidebar-nav li a::before{
	position: absolute;
	content: "";
	left: 45px;
	top: 11px;
	width: 27px;
	height: 27px;
	background: url(../images/nav-1.png) no-repeat;
}
.sidebar-nav li:nth-of-type(2) a::before{
	background: url(../images/nav-2.png) no-repeat;
}
.sidebar-nav li:nth-of-type(3) a::before {
	background: url(../images/nav-3.png) no-repeat;
}
.sidebar-nav li:nth-of-type(4) a::before {
	background: url(../images/nav-4.png) no-repeat;
}
.sidebar-nav li:nth-of-type(5) a::before {
	background: url(../images/nav-5.png) no-repeat;
}
.sidebar-nav li.active a::before{
	background: url(../images/navon-1.png) no-repeat;
}
.sidebar-nav li:nth-of-type(2).active a::before {
	background: url(../images/navon-2.png) no-repeat;
}
.sidebar-nav li:nth-of-type(3).active a::before {
	background: url(../images/navon-3.png) no-repeat;
}
.sidebar-nav li:nth-of-type(4).active a::before {
	background: url(../images/navon-4.png) no-repeat;
}
.sidebar-nav li:nth-of-type(5).active a::before {
	background: url(../images/navon-5.png) no-repeat;
}
.side-box p{
	margin-top: 30px;
	font-size: 13px;
	color: #999;
	text-align: center;
	line-height: 18px;
}
.side-box p span{
	display: block;
	margin-top: 8px;
	font-size: 13px;
	color: #5b938b;
}
.side-box>div{
	text-align: center;
}
.side-box>div span{
	display: block;
	width: 155px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 12px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.side-box>div em{
	display: block;
	margin-top: 10px;
	font-size: 12px;
	color: #666;
	line-height: 26px;
}

.r-main-box{
	width: 660px;
}
.main-title{
	position: relative;
	display: inline-block;
	padding-top: 10px;
	margin-bottom: 40px;
	font-size: 24px;
	font-weight: 600;
	padding-bottom: 5px;
	border-bottom: 3px solid #ddd;
}
.main-title::before{
	position: absolute;
	content: '';
	left: 0;
	bottom: -3px;
	width: 50%;
	border-bottom: 3px solid #5b938b;
}
.b-about{
	margin-top: -30px;
}
.b-about strong{
	display: block;
	margin-top: 30px;
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.b-about p{
	line-height: 28px;
	margin-bottom: 5px;
}
.b-about img{
	margin: 20px auto;
}
/* 联系我们 */
.b-contact p{
	margin-bottom: 20px;
}
.b-contact p b{
	display: inline-block;
	vertical-align: top;
	margin-right: 28px;
	font-size: 16px;
	font-weight: 600;
}
/* 新闻中心 */
.newList li {
	margin-bottom: 40px;
	overflow: hidden;
}

.newList li img {
	float: left;
	width: 200px;
	height: 150px;
}

.newList li time {
	position: relative;
	display: block;
	height: 45px;
	margin-bottom: 6px;
	font-family: Arial;
	font-size: 16px;
	color: #999;
	line-height: 45px;
}

.newList li i {
	position: absolute;
	opacity: 0;
	top: 0px;
	left: 110px;
	font-size: 24px;
	color: #999;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.newList li:hover i {
	left: 160px;
	opacity: 1;
	transition: all 0.4s ease;
}

.newList li div {
	padding-left: 230px;
}

.newList li span {
	display: inline-block;
	margin-left: 15px;
	padding-left: 15px;
	font-size: 16px;
	color: #ccc;
	border-left: 1px solid #ddd;
}

.newList li h3 {
	display: block;
	padding: 8px 0;
	padding-bottom: 10px;
	font-size: 16px;
	color: #464646;
	border-bottom: 1px solid #efefef;
}

.newList li:hover h3 {
	color: #5b938b;
	text-decoration: underline;
}

.newList li p {
	height: 44px;
	margin-top: 10px;
	color: #777;
	line-height: 24px;
	overflow: hidden;
}

.page-box {
	margin-top: 50px;
	text-align: center;
}

.page-box li {
	display: inline-block;
	margin: 0 3px;
}

.page-box li a {
	position: relative;
	display: inline-block;
	padding: 8px 12px;
	border: 1px solid #ddd;
}

.page-box li.thisclass a {
	color: #fff;
	background: #5b938b;
	border: 1px solid #5b938b;
}
/* 产品展示 */
.proList{
	margin: 0 -15px;
	overflow: hidden;
}
.proList li {
	float: left;
	width: 50%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.proList li>a {
	position: relative;
	display: block;
	overflow: hidden;
}

.proList li>a::before {
	z-index: 99;
	position: absolute;
	top: 0;
	left: 1px;
	content: "";
	width: 30px;
	height: 30px;
	opacity: 0;
	filter: alpha(opacity=0);
	background: url(../images/jia.png) no-repeat;
	background-size: 100%;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.proList li:hover>a::before {
	top: 30px;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: all 0.4s ease-out 0.1s;
	-o-transition: all 0.4s ease-out 0.1s;
	-moz-transition: all 0.4s ease-out 0.1s;
	transition: all 0.4s ease-out 0.1s;
}

.proList li>a::after {
	position: absolute;
	content: "";
	left: 15px;
	top: 15px;
	right: 15px;
	bottom: 15px;
	border: 1px solid transparent;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.proList li img{
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.proList li:hover img {
	-webkit-transform: scale(1.12);
	-moz-transform: scale(1.12);
	-ms-transform: scale(1.12);
	-o-transform: scale(1.12);
	transform: scale(1.12);
}

.proList li:hover>a::after {
	border: 1px solid #fff;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.proList li p {
	position: relative;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 10px;
}

.proList li p::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 10px;
	border-top: 1px solid #aaa;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.proList li:hover p::after {
	width: 100%;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.proList li p a {
	display: block;
	font-size: 16px;
	color: #444;
}

.proList li span {
	display: block;
	margin-top: 6px;
	font-size: 12px;
	color: #999;
}
/* 新闻详情 */
.art_body5 {
	padding: 0 15px;
}

.art-body h2 {
	padding: 20px;
	font-size: 24px;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
}

.art-body .lt {
	margin-bottom: 20px;
	text-align: center;
}

.lt span {
	display: inline-block;
	margin: 0 10px;
	color: #999;
}

.art-body p {
	line-height: 30px;
	margin-bottom: 10px;
	text-indent: 28px;
	text-align: justify;
}

.tagbox {
	margin-top: 30px;
	margin-bottom: 20px;
}

.tagbox a {
	display: inline-block;
	margin-left: 8px;
	color: #999;
}

.tagbox i {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	background: url(../images/tags.png) no-repeat;
	background-size: 100%;
}

.tagbox a:hover {
	color: #333;
	text-decoration: underline;
}
.turnpage{
	margin-top: 30px;
}
.turnpage li {
	margin-top: 10px;
	color: #444;
}

.turnpage li a {
	color: #666;
}

.turnpage li a:hover {
	color: #5b938b;
	text-decoration: underline;
}

.relate_new strong {
	display: block;
	margin-top: 30px;
	font-size: 18px;
	color: #444;
}

.relate_new li {
	position: relative;
	width: 49.5%;
	float: left;
	padding-left: 20px;
	margin-top: 15px;
}

.relate_new li::before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin-top: -3px;
	background: #999;
}

.relate_new li a {
	display: block;
	max-width: 88%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #666;
}

.relate_new li a:hover {
	color: #5b938b;
	text-decoration: underline;
}